<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	<add key="SqlConn" value="Database=InventoryManagementSystem;Server=DESKTOP-7H6L3KN;Integrated Security=SSPI;" /> <!--Added Sql Connection String-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" executionTimeout="1200"/> <!--1200 sec/20min added to prevent ThreadAbortException-->
  </system.web>
  <system.serviceModel>
	<services>    <!--Added <services></services> to access it via endpoints and defining interface contract-->
		<service name="WCFService_InventoryManagement.Wcf_ServiceApi">
			<endpoint address="" contract="WCFService_InventoryManagement.IWcf_ServiceApi" binding="webHttpBinding" behaviorConfiguration="webBehavior"></endpoint>
		</service>
	</services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>      <!--Added <endpointBehaviors></endpointBehaviors> Web behavior configuration-->
	    <behavior name="webBehavior">
		    <webHttp />
	    </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
